<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div
        id="m_2850078086314499619ikwq"
        style="
          box-sizing: border-box;
          text-align: center;
          display: flex;
          font-family: sans-serif;
        "
      >
        <table
          id="m_2850078086314499619iehf"
          width="100%"
          style="
            background: url(https://ci3.googleusercontent.com/meips/ADKq_NbAYDq3ImKnECzPVhR9kmCp8ZaANwrCD0mCV2-15rVAPeErlQwsvk86bI61rhXSQ3S-mQXbGqfxdZuACH95V83O-8XPuuT9aSa38YaQQ8s=s0-d-e1-ft#http://cf.shopee.sg/file/3877812c2246413d5d78a13df57176d0)
              no-repeat;
            background-size: 100% 80%;
            box-sizing: border-box;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            border-collapse: collapse;
          "
        >
          <tbody id="m_2850078086314499619i10w" style="box-sizing: border-box">
            <tr id="m_2850078086314499619ij4i" style="box-sizing: border-box">
              <td
                align="center"
                valign="top"
                id="m_2850078086314499619inai"
                style="
                  padding-top: 1em;
                  box-sizing: border-box;
                  vertical-align: top;
                  text-align: center;
                  color: #fff;
                  font-size: 25px;
                  line-height: 29px;
                "
              >
                <img
                  src="https://ci3.googleusercontent.com/meips/ADKq_Nbo0Cg5JtoU0VOTWG0AtzU4bChvz-AaD5s9LIN7f6l2hwwJ19YsI7E9FsHibLSuw4mnu16qVk7J1re4ubE1Oz5w8hffNU1_qjPez72OO6o=s0-d-e1-ft#http://cf.shopee.sg/file/cc3262f1bfb5f9dbcaad457a92037158"
                  id="m_2850078086314499619ip7h"
                  width="95"
                  style="box-sizing: border-box; width: 100px"
                  class="CToWUd"
                  data-bit="iit"
                />
              </td>
            </tr>
            <tr id="m_2850078086314499619isqd" style="box-sizing: border-box">
              <td
                align="center"
                valign="top"
                id="m_2850078086314499619i7zy"
                style="
                  padding-top: 0.5em;
                  box-sizing: border-box;
                  vertical-align: top;
                  text-align: center;
                  color: #fff;
                  font-size: 25px;
                  line-height: 15px;
                "
              >
                <div
                  id="m_2850078086314499619ir4j5"
                  style="
                    box-sizing: border-box;
                    text-align: center;
                    padding: 0px;
                    word-break: break-word;
                  "
                >
                  <span
                    id="m_2850078086314499619igvxm"
                    style="box-sizing: border-box; white-space: pre-wrap"
                    ><span
                      id="m_2850078086314499619ifvri"
                      style="box-sizing: border-box"
                      ><span
                        id="m_2850078086314499619i89bi"
                        style="box-sizing: border-box"
                        ><div
                          id="m_2850078086314499619itmkk"
                          style="box-sizing: border-box; text-align: center"
                        >
                        </div>PEDIDO REALIZADO</span
                      ></span
                    ></span
                  >
                </div>
              </td>
            </tr>
            <tr id="m_2850078086314499619ic2hi" style="box-sizing: border-box">
              <td
                align="right"
                valign="top"
                id="m_2850078086314499619idfji"
                style="
                  box-sizing: border-box;
                  vertical-align: top;
                  padding-right: 2em;
                  text-align: right;
                  color: #000000;
                  font-size: 14px;
                  line-height: 16px;
                "
              >
                <div
                  id="m_2850078086314499619ilxrs"
                  style="box-sizing: border-box; min-height: 100px"
                ></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="content">
        <h1>Olá {{nameuser}},</h1>
        <p>O seu pedido #2403167B0UFHK4 foi realizado.</p>
        <p>
            Assim que o pagamento for aprovado, notificaremos o vendedor para que faça o envio do(s) seu(s) pedido(s).
        </p>
        <p>
          Para mais informações, visite nosso site em
          <a href="https://shopee.com.br/">link</a>.
        </p>
        <p>Atenciosamente,<br />Gerente Muhammad</p>
      </div>
      <div class="footer">
        <p>
          Você está recebendo este e-mail porque se inscreveu em nosso site.
          Caso não queira mais receber nossos e-mails, clique
          <a href="#">aqui</a> para cancelar a inscrição.
        </p>
      </div>
    </div>
  </body>
</html>
